body {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 500;
    color: hsl(0, 0%, 29%);
    font-size: 3.75em;
}

h2 {
    font-weight: 500;
    color: hsl(0, 0%, 29%);
    font-size: 3.00em;
}

p {
    font-weight: 300;
    color: #4A4A4A;
    font-size: 1.25em;
}

.banner {
    background-image: url(../img/BANNER2.png);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.sobremi {
    background-color: #F8F4F2;
}

.portafolio {
    background-color: #f2e8dd;
}

.form-group {
    font-weight: 300;
}

footer {
    background-color: #F2E8DD;
}

.icon {
    color: black;
}

